* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  color: #fff !important; /* i have to change this, don't forget. */
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

p,
strong,
span {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content nav {
  background: #111;
}

.result {
  text-align: center;
  padding: 5px 0;
  margin: 5px auto;
}

.movie-container {
  margin: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(37, 37, 37);
  margin: 1rem;
  color: #ffffff;
}

.rel {
  position: relative;
}

.tittle-dec {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
}

.tittle-dec:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #f05323;
  width: 20%;
  bottom: 15%;
  left: 40%;
}

.bgimg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 81vh;
}

.overview {
  margin: 2px;
  padding: 2px 0;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}