* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

p,
strong,
span {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.content nav {
  background: #111;
  flex: 1 0 auto;
}

.result {
  text-align: center;
  padding: 5px 0;
  margin: 5px auto;
}

.movie-container {
  margin: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(37, 37, 37);
  margin: 1rem;
  color: #ffffff;
}

.rel {
  position: relative;
}

.tittle-dec {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  text-align: center;
}

.tittle-dec:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #f05323;
  width: 20%;
  bottom: 15%;
  left: 40%;
}

.bgimg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 81vh;
}

.footer {
  flex-shrink: 0;
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

.footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #f05323;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #eee;
}

.footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  background: #f05323;
  color: #fff;
}

.footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top h4::before,
.footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

.footer .footer-top h4::before {
  right: 0;
  background: #555;
}

.footer .footer-top h4::after {
  background: #f05323;
  width: 60px;
}

.footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
}

.overview {
  margin: 2px;
  padding: 2px 0;
}

/* Toggle bar */
.relative {
  position: relative;
}

#hidden-block {
  border-radius: 0.3rem;
  background-color: rgba(37, 37, 37, 0.926);
  display: none;
  position: absolute;
  z-index: 1;
}

.resultSearch {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.resultSearch img {
  width: 5rem;
}

.description {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
